.header{
    height: 570px;
    background-position: center center;
    background-size: 100% 100%;
}

.logo{
    height: 80px;
    width: 150px;
    filter: brightness(1000);
   

}
.nav{
    margin-left: 50px;
}

.nav li{
    display: inline-table;

    margin-left: 50px;
    

    

}
.nav a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.877);
    font-weight: bold;
    margin-top: 20px;
  }

  .nav a:hover{
      text-decoration: none;
      color: rgba(255, 255, 255, 0.877) ;
  }

.search {
    margin-top: 40px;
    opacity: 0.4;
    border-radius: 5px;

    height: 20px;
    width: 230px;
    filter: contrast(60%) brightness(80%);
  }

 .search:hover{
     filter: brightness(120%);
   
 } 
 
  .button{
    background-color: orange;
    width: 100px;
    height: 30px;
    border: 1px solid darkgray;
    border-radius: 5px;
    cursor: pointer;

}